a {
  color: $sky-blue;
  &:hover {
    color: #00aedf;
  }

  &:visited {
    color: $dark-purple;
  }
}

a.skip-link {
  color: #fff;
  border-bottom: none;
  padding: 0.25em;

  &:hover,
  &:active,
  &:focus {
    background-color:$pitch-black;
    color: #fff;
    border-bottom: none;
  }
}
  
a.toggle,
a.toggle:visited {
  color: $pitch-black;
}

.site_title a.title-link {
  color: #fff;
  border-bottom: none;
}