.gc-banner {
    height: 54px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width:1024px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    .gc-logo {
        max-width: 270px;
        width: 70%;
    }

    .lang-toggle {
        color: #000;
    }
}