.gc-banner {
    height: 54px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width:1024px;
  }
  
  .gc-logo img {
    height: 25px;
    float: left;
    margin: 14px 0;
  }
  
  .lang-toggle {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    padding-right: 20px;
    color: #000;
  }