.gc-banner {
    height: 54px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width:1024px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    .gc-logo {
        max-width: 270px;
        width: 70%;
    }

    .lang-toggle {
        color: #000;
    }

    #searchToggle {
        outline: 0;
        background: transparent;
        color: 000;
        border: 0;
        font-size: 1.125rem;
        padding: 0;
        font-family: Source Sans Pro, Verdana, sans-serif;
        text-decoration: underline;
        font-weight: 400;

        &:hover {
            cursor: pointer;
        }
    }
}