/* @group ol.accessibility-matters */
ol.charte,
ol.accessiblity-matters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li.section-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 4px solid $pitch-black;
    padding: 1.2em;

    a {
      color: $pitch-black;
      font-weight: 700;
      font-size: 1.3em;
      text-align: center;
      width: 100%;
      text-decoration: none;
    }
  }
}
  
@media screen and (min-width: 720px) {
  ol.charte li.section-box,
  ol.accessiblity-matters li.section-box {
    width: 49%;
  }
}

@media screen and (min-width: 970px) {
  ol.charte li.section-box,
  ol.accessiblity-matters li.section-box {
    width: 24%;
  }
}
  /* @end */