  /* @group .site-header */

  .site-header {
    border-bottom: 1px solid #202020;
    color: #fff;
    background: $pitch-black;
    padding: 1.4em 0 1.8em;

    p {
      line-height: 1.25em;
      max-width: 640px;
      margin: 0 auto 1em;
    }

    .logo {
      white-space: nowrap;
      overflow: hidden;
      width: 270px;

      img {
        height: 52px;
      }
    }

    h1 a {
      font-size: 24px;
      color: inherit;
      text-decoration: none;
      line-height: 40px;
      letter-spacing: -1px;
    }
  }
    

  .site-header form,
  .search-interface form {
    position: relative;
    text-align: right;
    margin-top: 4px;
    margin-bottom: 16px;
  }

  .site-header form {
    .field {
      position: relative;
      background-color: #fff;
      border-radius: 99em;

      .label-text {
        color: $pitch-black;
        left: 50%;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
      }
    }

    input {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      border-radius: 999em;
      box-shadow: 0 1px 0 #676969;
      display: block;
      width: 100% !important;
      height: 32px;
      line-height: 26px !important;
      font: inherit;
      font-size: 18px !important;
      padding: 0;
      padding-left: 28px !important;
      color: $pitch-black;
    }

    button {
      position: absolute;
      left: -9999em;
      bottom: 3px;
      border: 1px solid #ddd;
      border-radius: 2px;
      background: $light-gray;
      font: inherit;
      font-weight: 600;
      font-size: 16px;
      color: #555;
      padding: 4px 12px;
      height: 2.33em;
      
      &:hover {
        background-color: #eee;
        color: #111;
        border-color: #bbb;
        cursor: pointer;
      }
    }
  }

  *::-webkit-input-placeholder {
    color: #aaa;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  input[type="search"]:focus::-webkit-search-cancel-button::after {
    content: "\00D7";
    display: block;
    text-align: center;
    height: 0.8em;
    width: 0.8em;
    line-height: 0.82em;
    font-size: 18px;
    border-radius: 100%;
    margin-right: 6px;
    background-color: #fff;
    color: $pitch-black;
  }

  .site-header form label::before,
  .search-interface form label::before {
    content: "\e900";
    font-family: "icomoon" !important;
    speak: none;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: absolute;
    bottom: 9px;
    top: auto;
    left: 10px;
    color: rgb(12, 9, 9);
    position: absolute;
    margin-top: -0.5em;
  }

  .site-header form .is-focused input,
  .search-interface form .is-focused input,
  .site-header form .is-focused label::before,
  .search-interface form .is-focused label::before {
    color: #000;
  }

  .site-header div.signed-in {
    top: 0;
    right: 0;
    position: absolute;
    padding: 8px 8px 8px 44px;
    font-size: 14px;
    line-height: 1.2;
    width: 192px;
    border: 1px solid transparent;

    &:hover {
      background: linear-gradient(#fbf9f4, #f0ede7);
      border-color: #ebe8e0;
      border-bottom-color: #dbd5c8;
      cursor: pointer;
      -webkit-box-shadow: inset 1px 1px 0 #fff;
    }

    h1 {
      font-size: 9px;
      text-transform: uppercase;
      font-family: Lucida Grande;
      color: #555;
      position: relative;
      left: 1px;
      margin-top: 1px;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      position: absolute;
      left: 6px;
      top: 5px;
    }

    a {
      margin-left: 0.4em;
      font-size: 14px;
      color: #8f8466;
    }
  }

  @media screen and (min-width: 568.88px) {

    .site-header .search-interface,
    .banner form {
      position: absolute;
      right: 0;
      left: auto;
      top: 0;
    }

    .banner form input {
      margin-bottom: 0;
    }

    .site-header {
      padding-top: 3em;
      padding-bottom: 2em;

      .logo {
        white-space: nowrap;
        overflow: hidden;
      }

      h1 {
        font-size: 40px;
      }

      form {
        margin-top: 8px;
        margin-bottom: 6px;
      }

      p {
        font-size: 20px;
        line-height: 1.4em;
        margin-bottom: 0.4em;
      }
    }
  
    .search-interface {
      width: 35%;
    }
  }

  @media screen and (min-width: 45em){
    .search-interface {
        width: 20%!important;
        float: right;
    }
  }

  /* @end */