a.title-link span.tag,
span.tag {
  font-size: 14pt;
  color: white;
  font-weight: 600;
  margin-left: 0.5rem;
  background: rgb(249, 2, 119);
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem;
  vertical-align: bottom;
}