/* @override ../stylesheets/screen.css */

/* @override http://127.0.0.1:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://127.0.0.1:3000/stylesheets/screen.css */

/* @group bootstrap */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Source Sans Pro, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #404040;
  background: #f8f8f8;
}

a {
  color: #006fbe;
  text-decoration: ;
}
a:hover {
  color: #00aedf;
}

a:visited {
  color: #8d0058;
}

/*
Helpers
==================================
*/

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

.a-skip-to-main {
  position: absolute;
  left: -9999em;
}
::selection {
  background: #ffe4c5; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffe4c5; /* Gecko Browsers */
}
.gc-banner {
  height: 54px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  max-width:1024px;
}

.gc-logo img {
  height: 25px;
  float: left;
  margin: 14px 0;
}

.lang-toggle {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  padding-right: 130px;
  color: #000;
}

.gc-logo-page img {
  height: 25px;
  float: left;
  margin: 14px;
  padding-left: 40px;
}
.lang-toggle-page {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  padding-right: 100px;
  color: #000;
}

.accessible-nav {
  display: block;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

a.skip-link {
  color: #fff;
  border-bottom: none;
  padding: 0.25em;
}

a.skip-link:hover,
a.skip-link:active,
a.skip-link:focus {
  background-color: #000;
  color: #fff;
  border-bottom: none;
}

a.toggle,
a.toggle:visited {
  color: #000;
}

.site_title a.title-link {
  color: #fff;
  border-bottom: none;
}

.logo img {
  height: 52px;
}

a.title-link span.tag,
span.tag {
  font-size: 14pt;
  color: white;
  font-weight: 600;
  margin-left: 0.5rem;
  background: rgb(249, 2, 119);
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem;
  vertical-align: bottom;
}

.float-right a.toggle:visited {
  color: #fff;
  text-decoration: none;
}

.wrapper {
	width:90%;
  margin: 0 auto;
  position: relative;
  max-width:1024px;
}

.wrapper .body-content{
  display: block;
}

.body-content img{
  height:270px;
  float:right;
}

  .site-header .logo {
    white-space: nowrap;
    overflow: hidden;
    /* max-width: 640px; */
    width: 270px;
    /* padding-top: 6%; */
  }
  .lang-toggle {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    padding-right: 20px;
  }

  .wrapper::after {
    content: "";
    display: table;
    clear: both;
  }

  main {
    background: white;
    padding-bottom: 2em;
  }

  /* @group icomoon */

  @font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?8ojtgr");
    src: url("fonts/icomoon.eot?8ojtgr#iefix") format("embedded-opentype"),
      url("fonts/icomoon.ttf?8ojtgr") format("truetype"),
      url("fonts/icomoon.woff?8ojtgr") format("woff"),
      url("fonts/icomoon.svg?8ojtgr#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-pencil:before {
    content: "\e905";
  }
  .icon-menu:before {
    content: "\e9bd";
  }

  /* @end */

  /* @end */

  /* @group .site-header */

  .site-header {
    padding: 4px 0 6px;
    border-bottom: 1px solid #202020;
    color: #fff;
    background-color: #000;
  }

  .site-header h1 a {
    font-size: 24px;
    color: inherit;
    text-decoration: none;
    line-height: 40px;
    letter-spacing: -1px;
  }

  .site-header form,
  .search-interface form {
    position: relative;
    text-align: right;
    margin-top: 4px;
    margin-bottom: 6px;
  }

  .site-header form .field {
    position: relative;
    background-color: #fff;
    border-radius: 99em;
  }

  .site-header .field .label-text {
    color: #ccc;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  html body .site-header form input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 999em;
    box-shadow: 0 1px 0 #676969;
    display: block;
    width: 100% !important;
    height: 32px;
    line-height: 26px !important;
    font: inherit;
    font-size: 18px !important;
    padding: 0;
    padding-left: 28px !important;
    color: #aaa;
  }

  *::-webkit-input-placeholder {
    color: #aaa;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  input[type="search"]:focus::-webkit-search-cancel-button::after {
    content: "\00D7";
    display: block;
    text-align: center;
    height: 0.8em;
    width: 0.8em;
    line-height: 0.82em;
    font-size: 18px;
    border-radius: 100%;
    margin-right: 6px;
    background-color: #fff;
    color: #000;
  }

  .site-header form label::before,
  .search-interface form label::before {
    content: "\e900";
    font-family: "icomoon" !important;
    speak: none;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: absolute;
    bottom: 9px;
    top: auto;
    left: 10px;
    color: rgb(12, 9, 9);
    position: absolute;
    margin-top: -0.5em;
  }

  .site-header form .is-focused input,
  .search-interface form .is-focused input,
  .site-header form .is-focused label::before,
  .search-interface form .is-focused label::before {
    color: #000;
  }

  .site-header form button {
    position: absolute;
    left: -9999em;
    bottom: 3px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f8f8f8;
    font: inherit;
    font-weight: 600;
    font-size: 16px;
    color: #555;
    padding: 4px 12px;
    height: 2.33em;
  }

  .site-header form button:hover {
    background-color: #eee;
    color: #111;
    border-color: #bbb;
    cursor: pointer;
  }

  .site-header div.signed-in {
    top: 0;
    right: 0;
    position: absolute;
    padding: 8px 8px 8px 44px;
    font-size: 14px;
    line-height: 1.2;
    width: 192px;
    border: 1px solid transparent;
  }

  .site-header div.signed-in:hover {
    background: linear-gradient(#fbf9f4, #f0ede7);
    border-color: #ebe8e0;
    border-bottom-color: #dbd5c8;
    cursor: pointer;
    -webkit-box-shadow: inset 1px 1px 0 #fff;
  }

  .site-header div.signed-in h1 {
    font-size: 9px;
    text-transform: uppercase;
    font-family: Lucida Grande;
    color: #555;
    position: relative;
    left: 1px;
    margin-top: 1px;
  }

  .site-header div.signed-in img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: absolute;
    left: 6px;
    top: 5px;
  }

  .site-header div.signed-in a {
    margin-left: 0.4em;
    font-size: 14px;
    color: #8f8466;
  }

  @media screen and (min-width: 568.88px) {
    .site-header .logo {
      white-space: nowrap;
      overflow: hidden;
      /* max-width: 640px; */
      /* margin: 0 auto; */
    }

    .site-header .search-interface,
    .banner form {
      position: absolute;
      right: 0;
      left: auto;
      top: 0;
    }

    .banner form input {
      margin-bottom: 0;
    }
  }

  /* @end */

  /* @group .site-footer */

  .site-footer {
    border-top: 1px solid #d8d8d8;
    padding-top: 1em;
    padding-bottom: 2em;
    color: #555;
    background: #f8f8f8;
  }

  .site-footer .footer-heading{
    float:left;
  }

  .site-footer nav::after {
    content: "";
    display: table;
    clear: both;
  }

  .site-footer span a:hover {
    color: #111;
  }
  .site-footer span a:hover img {
    opacity: 0.85;
  }
  .site-footer span img {
    opacity: 0.64;
    border-radius: 0.1em;
    width: 1.6em;
    height: 1.6em;
    margin-top: -0.2em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    display: inline-block;
    vertical-align: middle;
  }

  .site-footer a {
    text-decoration: none;
  }

  .site-footer .button {
    border: 1px solid #d3d3d3;
    border-bottom-color: #ccc;
    border-radius: 2px;
    background: #f8f8f8;
    background: linear-gradient(#fff, #eee);
    font: inherit;
    font-size: 16px;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    padding: 4px 12px 6px;
    -webkit-box-shadow: 0 1px 0 #eee;
    float: left;
    line-height: 1.33em;
    margin-bottom: 0.8em;
    margin-right: 1em;
    white-space: nowrap;
    cursor: default;
  }

  .site-footer .button.button-edit {
    margin-right: -1px;
    border-radius: 2px 0 0 2px;
    border-right: none;
    position: relative;
    clear: left;
  }

  .site-footer .button.button-edit::after {
    content: "";
    position: absolute;
    right: 0;
    top: 1px;
    bottom: 1px;
    background: #ddd;
    width: 1px;
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
  }

  .site-footer .button.button-issue {
    border-radius: 0 2px 2px 0;
    border-left-color: #e8e8e8;
    margin-right: 0;
  }

  .site-footer .button:hover {
    background: linear-gradient(#fff, #e3e3e3);
    border-color: #c3c3c3;
    border-bottom-color: #b8b8b8;
    text-decoration: none;
  }

  .site-footer .button:active {
    color: #888;
    background: linear-gradient(#e3e3e3, #eee);
    border-color: #bbb;
    border-top-color: #aaa;
    border-bottom-color: #b3b3b3;
    text-shadow: none;
    -webkit-box-shadow: inset 1px 1px 0 #ddd;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
  }

  @media screen and (min-width: 486.66px) {
    .site-footer .button {
      float: left;
    }
    .site-footer .button.button-edit {
      margin-right: -0.4em;
      clear: none;
    }
  }

  @media screen and (min-width: 817.77px) {
    .site-footer {
      text-align: right;
      padding-top: 1.6em;
    }
    .site-footer .button {
      float: none;
    }
    .site-footer .button.button-edit {
      margin-right: -0.4em;
    }
  }

  /* @end */

  /* @group h-card */

  .h-card a {
    color: #555;
  }

  .h-card::after {
    content: "";
    display: table;
    clear: both;
  }

  .h-card .p-street-address,
  .h-card .p-extended-address,
  .h-card .p-locality,
  .h-card .p-region,
  .h-card .p-postal-code,
  .h-card .p-job-title,
  .h-card .p-name,
  .h-card .p-note,
  .h-card .p-tel,
  .h-card .p-email,
  .h-card .p-org {
    float: left;
    max-width: 24em;
    margin-right: 0.4em;
    line-height: 24px;
  }

  .h-card .p-street-address {
    margin-right: 0;
  }

  .h-card .p-street-address + .p-extended-address::before {
    content: ", ";
  }

  .h-card .p-name {
    font-weight: 600;
    color: #342f2b;
  }

  .h-card .p-job-title {
    margin-bottom: 8px;
    display: block;
  }

  .h-card .p-locality {
    margin-right: 0.125em;
  }
  .h-card .p-job-title,
  .h-card .p-note,
  .h-card .p-locality,
  .h-card .p-email,
  .h-card .p-org,
  .h-card .p-street-address {
    clear: left;
  }

  .h-card .p-job-title {
    color: #666;
  }

  .h-card .p-note {
    font-size: 14px;
    line-height: 1.33em;
    margin-bottom: 0.67em;
  }

  .h-card .p-locality::after {
    content: ",";
  }

  /* @end */

  /* @group .page */

  .page {
    padding-top: 1em;
  }

  .page .wrapper {
    max-width: 960px;
  }

  .page td {
    line-height: 1.4em;
  }

  .page h1,
  .page h2,
  .page h3,
  .page h4,
  .page h5 {
    line-height: 1.125em;
  }

  .page figure.figure-fill {
    width: 100%;
    max-width: none;
    text-align: center;
  }

  .page ul,
  .page ol {
    padding-left: 1.4em;
  }

  .page ul ol,
  .page ul ul,
  .page ol ol,
  .page ol ul {
    margin-left: 0;
  }

  .page strong {
    font-weight: 600;
  }
  .page em {
    font-style: italic;
  }

  a[id] {
    color: inherit;
    text-decoration: none;
  }

  .page code {
    background: #eee;
    border: 1px solid #e3e3e3;
    padding: 1px 2px;
    font-family: "Courier New", Courier, mono;
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 2px;
    color: #d40b79;
    top: -1px;
    position: relative;
    clear: none;
  }

  .page aside {
    font-size: 16px;
    color: #918c84;
    margin-top: 6px;
  }

  .page h1,
  .page .page-title {
    margin-bottom: 0.67em;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.125em;
    color: #0c0c0c;
    letter-spacing: -1px;
    max-width: 640px;
    position: relative;
    left: -1px;
  }

  .page h1 + p {
    padding-top: 0.4em;
    font-family: merriweather;
    line-height: 1.5em;
    color: #444;
    font-size: 18px;
    margin: -1em 0 2em;
  }

  .page h2 {
    font-weight: 600;
    font-size: 21px;
    line-height: 1.3em;
    font-family: Merriweather, Georgia;
    color: #ffbf51;
    margin: 28px 0 16px;
  }

  .page h3,
  .page h4 {
    font-weight: 600;
    font-size: 21px;
    line-height: 1.4em;
    margin-top: 28px;
    margin-bottom: 16px;
    color: #333;
  }

  .page h4 {
    font: inherit;
    font-family: Merriweather, Georgia;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #222;
    letter-spacing: 0.05em;
    word-spacing: 0.125em;
    margin-top: 24px !important;
    margin-bottom: 16px !important;
  }

  .page h5 {
    font-weight: 600;
  }

  .location .h-card .p-name {
    position: absolute;
    left: -9999em;
  }

  .page blockquote {
    padding-left: 1em;
    margin-left: 1rem;
    position: relative;
    border-left: 3px solid #e3e3e3;
  }

  .page blockquote p {
    font-family: Merriweather, Georgia, serif;
    font-style: italic;
    color: #555;
    font-size: 17px;
    line-height: 1.67em;
    width: auto;
    max-width: none;
  }

  .page p,
  .page figure,
  .page ul,
  .page ol,
  .page dl,
  .page li,
  .page td {
    margin: 0 0 0.8em;
    line-height: 1.6em;
  }

  @media screen and (min-width: 568.88px) {
    .page {
      padding-top: 1.6em;
    }

    .page .page-title,
    .page h1,
    .page h2,
    .page h3,
    .page h4,
    .page h5,
    .page figure,
    .page p,
    .page ul,
    .page ol,
    .page dl,
    .page li,
    .page blockquote {
      max-width: 66ch;
    }

    .page li p {
      margin-left: 0;
      width: auto;
    }

    .page h1,
    .page h2,
    .page h3,
    .page h4 {
      line-height: 1.2em;
    }

    .page h1,
    .page .page-title {
      font-size: 40px;
    }
    .page h1 + p,
    .page .page-title + p {
      font-size: 20px;
      line-height: 1.67em;
    }
    .page h2 {
      margin-top: 28px;
      font-size: 21px;
      line-height: 1.3em;
    }
  }
}

.page .page-title + h2 {
  margin-top: 20px;
}

.page hr {
  border: none;
  height: 0.2em;
  margin: 2em 0;
  background: #f2f1ec;
  max-width: 66ch;
}

.page .h-card {
  line-height: 1.33em;
  margin: 0 auto 0.6em;
  padding: 8px 16px 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 480px;
  position: relative;
}

.page .h-card:last-of-type {
  margin-bottom: 1em;
}

.page table {
  border-radius: 3px;
  border: 1px solid #eee;
  max-width: 640px;
  table-layout: fixed;
  box-shadow: 0 0 0 2px #fafafa;
}

.page table tbody tr:first-child td:first-child {
  border-radius: 3px;
}

.page table tbody tr:nth-child(odd) td {
  background: #fafafa;
}

.page table td,
.page table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.page .h-card .p-job-title {
  clear: left;
  display: block;
}

@media screen and (min-width: 711.11px) {
  .page .h-card {
    position: relative;
    left: -80px;
  }
}

.page .h-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background: #e7f3f4;
  border-radius: 5px 0 0 5px;
}

.page .h-card .p-tel {
  clear: left;
}

.page li {
  list-style-type: square;
  margin-left: 1.125em;
  margin-bottom: 0.6em;
}

.page ol li {
  list-style-type: decimal;
}
.page ol li li {
  list-style-type: lower-latin;
}

.page ol > li li {
  margin-bottom: 0.2em;
}
.page ol > li li li {
  margin-bottom: 0.3em;
}

.page ol .offices a {
  color: #aa470f;
}
.page ol .offices a:hover {
  color: #8d0058;
  text-decoration: underline;
}

.page table thead td {
  font-weight: 300;
}

/* @end */

/* @group nav.nav-table-of-contents */

nav.nav-table-of-contents {
  z-index: 1;
  position: relative;
}

nav.nav-table-of-contents .wrapper {
  background: #25394a;
  color: white;
  padding: 1em;
  border-radius: 0.25em;
}

a.table-of-contents--toggle {
  display: inline-block;
  vertical-align: middle;
  color: #006fbe;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 1.67em;
  height: 1.67em;
  text-align: center;
  text-indent: -9999em;
  position: relative;
}

a.table-of-contents--toggle::before {
  width: 0.67em;
  height: 0.67em;
  background: url(images/icons/menu.gif) top left no-repeat;
  background-size: cover;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -0.33em;
  margin-top: -0.33em;
  opacity: 0.7;
}

body nav.nav-table-of-contents .wrapper {
  display: none;
}
body.no-js nav.nav-table-of-contents .wrapper,
body.show-table-of-contents nav.nav-table-of-contents .wrapper {
  display: block;
}

nav.nav-table-of-contents a {
  color: #b3efff;
  text-decoration: none;
}

nav.nav-table-of-contents ol {
  margin-bottom: 0.5em;
}

nav.nav-table-of-contents li {
  list-style-type: square;
  margin-left: 1.125em;
  margin-bottom: 0;
  line-height: 1.4em;
}

nav.nav-table-of-contents ol li {
  list-style-type: decimal;
}
nav.nav-table-of-contents ol li li {
  list-style-type: lower-latin;
}

@media screen and (min-width: 711.11px) {
  nav.nav-table-of-contents .wrapper {
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

/* @end */

/* @group nav.nav-main */

nav.nav-main {
  padding: 0.5em 0;
  border-bottom: 1px solid #d8d8d8;
  line-height: 24px;
}

nav.nav-main ol,
nav.nav-main ol li {
  display: inline-block;
}

nav.nav-main ol li::after {
  border-color: #888;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;

  transform: rotate(-45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  vertical-align: middle;
  margin-right: 0.2em;
  margin-left: 0.4em;
}

nav.nav-main ol li:last-child::after {
  display: none;
}
nav.nav-main ol li a {
  color: #777;
  text-decoration: none;
}
nav.nav-main ol li a:hover {
  text-decoration: underline;
}

/* @end */

/* @group layouts */


.site-header {
  background: #000;
  color: #fff;
  padding: 1.4em 0 1.8em;
}

.site-header p {
  line-height: 1.25em;
  max-width: 640px;
  margin: 0 auto 1em;
}

.wrapper .headline {
  font-size: 1.5em;
  color: #000;
  line-height: 1.125em;
  font-family: source sans pro, arial, sans;
  font-weight: 600;
  padding-bottom: 0.33em;
  display: block;
  letter-spacing: -0.03em;
  max-width: 640px;
  position: relative;
  padding:1em 0;
}

@keyframes highlight {
  0% {
    background: #fff0be;
  }
  100% {
    background: none;
  }
}

@media screen and (min-width: 45em){
  .search-interface {
      width: 20%!important;
      float: right;
  }
}
@media screen and (min-width: 568.88px) {
  .site-header {
    padding-top: 3em;
    padding-bottom: 2em;
  }
 .site-header h1 {
    font-size: 40px;
  }
 .site-header form {
    margin-top: 8px;
  }
 .site-header p {
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 0.4em;
  }

  .search-interface {
    width: 35%;
  }
}

.layout-table-of-contents p,
.layout-table-of-contents li {
  line-height: 1.33em;
}

.layout-table-of-contents main p {
  margin: 0 auto;
  margin-bottom: 1em;
}

.layout-table-of-contents .wrapper > ol {
  /*max-width: 90%;*/
  margin: 0 auto;
}

.layout-table-of-contents .wrapper ol li.toc-nav-child-with-children {
  font-weight: 600;
  padding-top: 1em;
}

.layout-table-of-contents .wrapper ol li.toc-nav-child-with-children > ol {
  padding-top: 0.6em;
}

.toc-nav-children-level-2 {
  padding-top: 1em;
}

.section-box {
  text-align: center;
}

.section-box a{
  color: #000;
  font-weight: 700;
  font-size: 1.3em;
  text-decoration: none;
  border: 4px solid #000;
  display: block;
  padding: 1.2em;

}

.toc-nav-children-level-4 {
  padding-top: 0.6em;
  padding-bottom: 1em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.toc-nav-children-level-5 {
  padding-left: 1rem;
}

.toc-nav-children-level-6 {
  padding-left: 1.5rem;
}

.layout-table-of-contents .wrapper ol li.policies {
  padding-bottom: 1em;
}

.layout-table-of-contents .wrapper ol li {
  font-weight: normal;
  margin-bottom: 10px;
}

@media screen and (min-width: 711.11px) {
  .toc-nav-children,
  .toc-nav-grandchildren {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

  .toc-nav-child-with-children {
    column-span: all;
  }
}

.layout-table-of-contents ol h1 {
  font-size: 28px;
  font-weight: 600;
  padding-top: 1em;
  margin-bottom: 0.4em;
  border-top: 0.2em solid #e6e6e3;
  margin-top: 1em;
  color: #000;
}

.layout-table-of-contents ol li:first-of-type h1 {
  border-top: none;
  margin-top: 0;
}

.layout-table-of-contents ol h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 1em;
  color: #006d47;
}

.layout-table-of-contents ol h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.layout-table-of-contents ol h4 {
  font-size: 18px;
  font-weight: normal;
}

/* @end */

/* @group .layout-article */

.layout-article.with-inline-navigation .wrapper .inline-navigation {
  font-size: 16px;
  background: none;
  padding: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin: 0 auto 1.4em;
  box-shadow: 0 0 0 2px #fafafa;
  width: 90%;
}

.layout-article.with-inline-navigation .wrapper .inline-navigation h1 {
  letter-spacing: 0;
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px;
  text-align: left;
}

.layout-article.with-inline-navigation .wrapper .inline-navigation ul {
  margin: 0 0 -4px 0;
  padding: 0;
}

.layout-article.with-inline-navigation .wrapper .inline-navigation ul li {
  list-style-type: none;
  margin: 0 0 2px -2px;
}

.layout-article.with-inline-navigation .wrapper .inline-navigation ul li.h3 {
  margin-left: 1em;
}
.layout-article.with-inline-navigation .wrapper .inline-navigation ul li.h4 {
  margin-left: 2em;
}
.layout-article.with-inline-navigation .wrapper .inline-navigation ul li.h5 {
  margin-left: 3em;
}

.layout-article.with-inline-navigation .wrapper .inline-navigation li a {
  padding: 4px;
  display: block;
  line-height: 1.2em;
  text-decoration: none;
  border-radius: 3px;
}

.layout-article.with-inline-navigation .wrapper .inline-navigation li a:hover {
  text-decoration: underline;
}

.layout-article.with-inline-navigation
  .wrapper
  .inline-navigation
  li.is-active
  a {
  background: #297f00;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 568.88px) {
  .layout-article.with-inline-navigation .wrapper .inline-navigation {
    float: right;
    width: 256px;
    /*margin-left: -256px;
		left: 288px;
		margin-right: 50vw;
		position: relative;*/
  }
}

/*@media screen and (min-width: 817.7777px) {
	.layout-article.with-inline-navigation .wrapper .inline-navigation{
		margin-left: -352px;
		left: 384px;
	}
}*/

/* @end */

/* @group .layout-article-tock */

@media screen and (min-width: 426.66px) {
  .layout-article-tock img {
    width: 100%;
    max-width: 512px;
    margin-top: 1em;
    border: 1px solid #eee;
    display: block;
  }
}
@media screen and (min-width: 568.88px) {
  .layout-article-tock img {
    width: 45%;
  }
}

@media screen and (min-width: 711.11px) {
  .layout-article-tock img {
    width: 56%;
  }
}

@media screen and (min-width: 746.66px) {
  .layout-article-tock img {
    width: 56%;
  }
}

@media screen and (min-width: 853.33px) {
  .layout-article-tock img {
    width: 66%;
  }
}

/* @end */

/* @group .layout-article-professional-development-and-training */

@media screen and (min-width: 40em) {
  .layout-article-professional-development-and-training table tr td:last-child {
    width: 7em;
  }
}

/* @end */

.col-grouplet {
  width: 100px;
}

/* @group .layout-article-working-groups-and-guilds-101 */

/* @end */

/* @group .layout-article-chicago, .layout-article-san-francisco, .layout-article-washington-dc */

@media screen and (min-width: 40em) {
  .table-office-metadata .col-key {
    width: 100px;
    text-align: right;
    color: #555;
  }
}

/* @end */

/* @end */
